<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <mat-card class="card col-md-2 p-1 item-card mat-card mat-elevation-z2">
                
                    <mat-card-content class="mat-card-content image-card">
                        <a href="#">
                            <img src="{{item.icon}}" 
                                alt="Item Title Cover"
                                class= "mat-card-image
                                preview-image"
                                >
                        </a>
                        
                    </mat-card-content>

                    <mat-card-content class="item-title mat-card-content">
                        <h3>
                            <strong>{{item.title}}</strong>
                        </h3>
                        <p>{{item.price | currency: 'INR' }}</p>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-raised-button color="primary">
                            <span>
                                <span>
                                    <mat-icon>shopping_cart</mat-icon>
                                </span>
                                Add to Cart
                            </span>
                            <span matripple class=" mat-button mat-ripple mat-button-ripple"></span>
                            <span class=" mat-button mat-button-focus-overlay"></span>
                        </button>

                    </mat-card-actions>
                
                </mat-card>
        </ng-container>
    </div>
</div>